@import "rouge-base16-dark";
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=M+PLUS+Rounded+1c:wght@400;700&family=Shippori+Mincho+B1:wght@400;700&display=swap');

$pc-width: 768px;

@mixin pc() {
  @media (min-width: $pc-width) {
      @content;
  }
}

:root {
  --color-black: rgb( 30, 30, 30);
  --color-black-a: rgba( 30, 30, 30, .8);
  --color-white: rgb( 255, 255, 255);
  --color-gray: rgb( 180, 180, 180);
  --color-gray-a: rgba( 180, 180, 180, .8);
  --color-green-10: hsl(120, 70%, 10%);
  --color-green-20: hsl(120, 70%, 20%);
  --color-green-40: hsl(120, 70%, 40%);
  --color-green-60: hsl(120, 70%, 60%);

  --color-main: var(--color-white);
  --color-bg: var(--color-black);
  --color-bg-a: var(--color-black-a);
  --color-bg-content: var(--color-green-10);
  --color-border: var(--color-gray);
  --color-border-a: var(--color-gray-a);
  --color-brand: var(--color-green-40);
  --color-brand-light: var(--color-green-60);
  --color-brand-dark: var(--color-green-20);

  --font-normal: 'M PLUS Rounded 1c', sans-serif;
  --font-title: 'Shippori Mincho B1', serif;
  --font-code: 'Fira Mono', 'M PLUS Rounded 1c', monospace;

  --max-width: 1060px;
}

html,
body {
  width: 100%;
  height: 100%;
  color: var(--color-main);
  font-size: 100%;
  font-family: var(--font-normal);
  line-height: 1.4;
  background: var(--color-bg);
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.wrap {
  width: calc(100% - calc(8px * 2) * 2);
  margin: 0 auto;
  @include pc() {
    width: 100%;
    max-width: var(--max-width);
  }
}

#header {
  width: 100%;
  border-bottom: 1px dotted var(--color-border);
  margin: 0 0 calc(8px * 10);
  padding: 16px 0;
}
.site_title {
  font-size: 2.4em;
  font-family: var(--font-title);
  font-weight: bold;
  margin: 0 0 calc(8px * 2);
  &__link {
    color: var(--color-brand);
    word-wrap: break-word;
    text-decoration: none;
    transition: .3s;
    &:hover {
      opacity: .8;
    }
  }
  &__description {
    font-size: .75em;
    margin: 0;
  }
}

#main {
  width: 100%;
  margin: 0 0 calc(8px * 10);
  .wrap {
    background: var(--color-bg-content);
    padding: calc(8px * 2);
  }
}

#main_contents {
  #posts {
    list-style-type: none;
    padding-left: 0;
    .post {
      &__item {
        border-bottom: 1px solid var(--color-border);
        &:first-of-type {
          border-top: 3px double var(--color-border);
        }
        &:last-of-type {
          border-bottom: 3px double var(--color-border);
        }
      }
      &__link {
        display: block;
        color: var(--color-main);
        text-decoration: none;
        padding: 8px;
        transition: .3s;
        img {
          width: 320px;
          max-width: 100%;
          border-radius: 4px;
        }
        &:hover {
          background: var(--color-brand);
          opacity: .8;
        }
        &__date {
          font-size: .75em;
          border-bottom: 1px dotted var(--color-border);
          margin-bottom: 8px;
          padding-bottom: .25em;
        }
        &__title {
          border-bottom: 1px dotted var(--color-border);
        }
      }
    }
  }
  #post {
    &__header {
      margin: 0 0 calc(8px * 4);
      border-bottom: 1px dotted var(--color-border);
      padding: 8px 0;
    }
    &__main{
      margin: 0 0 calc(8px * 4);
    }
    &__footer {
      text-align: right;
      border-top: 1px dotted var(--color-border);
      margin: 0 0 calc(8px * 4);
      padding: 8px 0;
    }
    .post {
      &__date {
        font-size: .75em;
        border-bottom: 1px dotted var(--color-border);
        margin-bottom: 8px;
        padding-bottom: .25em;
      }
      &__main_title {
        margin-bottom: 0;
      }
      &__author {
        font-size: .75em;
        font-style: normal;
      }
    }
  }
}

#official {
  border-top: 1px dashed var(--color-border);
  margin-top: calc(8px * 4);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  // .official {
  //   &__paragraph {

  //   }
  // }
}

#main_contents {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    font-weight: bold;
    margin: 0 0 calc(8px * 4);
  }
  h1 {
    font-size: 2.4em;
  }
  h2 {
    font-size: 2em;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: .5em;
  }
  h3 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.6em;
  }
  h5 {
    font-size: 1.4em;
  }
  h6 {
    font-size: 1.2em;
  }
  blockquote {
    padding-left: .75em;
    border-left: 1px dotted var(--color-border);
  }
  pre {
    font-size: 1em;
    line-height: 1.2;
    word-wrap: normal;
    background: var(--color-bg-a);
    border: 1px solid var(--color-border-a);
    border-radius: 4px;
    padding: .75em;
    overflow: auto;
    overflow-y: hidden;
  }
  code {
    font-family: var(--font-code);
  }
  code.highlighter-rouge {
    background: var(--color-bg-a);
    border: 1px solid var(--color-border-a);
    border-radius: 4px;
    padding: 0 .75em;
  }
  table {
    width: 100%;
    margin: 0 0 calc(8px * 4);
  }
  th {
    text-align: left;
    border-bottom: 1px dashed var(--color-border);
    padding: 5px 10px;
  }
  td {
    padding: 5px 10px;
  }
  hr {
    height: 0;
    border-bottom: 1px dashed var(--color-border);
    border: 0;
  }
  a {
    color: var(--color-brand-light);
    text-decoration: none;
    word-break: break-all;
    transition: .3s;
    &:hover {
      text-decoration: underline;
    }
  }
}

#footer {
  width: 100%;
  margin: 0;
  .wrap {
    text-align: center;
  }
}
.copyright {
  display: inline-block;
  font-size: .5em;
  margin: 0;
}